@font-face{
    font-family:'digital-7 mono', monospace;
    src: url('font/digital-7 mono.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(../images/wall.jpg);
    background-size: cover;
    background-position: center;
}
.clock{
    top: 30vh;
    left: 35vw;
    width: 600px;
    height: 180px;
    line-height: 140px;
    border-radius: 50px;
    font-size: 130px;
    font-family: 'digital-7 mono', monospace;
    position: relative;
    transform:
    perspective(280px)
    rotateY(18deg)
    skewY(-3deg)
    ;
    color: #fff;
    text-shadow:-10px 10px  #333,0px 0px 8px #fff,
    0 0 30px #fff, 4px 4px 100px #fff, 8px 8px 150px #fff;
}

.name{
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    bottom:-50px;
    right: 100px;
    color: #fff;
    transform:skewY(2deg);
}
.ap{
    position: absolute;
    right: 30px;
    top: 20px;
    line-height: 60px;
    font-size: 60px;
    text-align: left;
}
