@font-face{
    font-family:'digital-7 mono', monospace;
    src: url('font/digital-7 mono.ttf');
}
:root{
    --text-shadow1:0 0 8px #fff,0 0 50px #fff, 
    0 0 30px #fff, 4px 4px 100px #fff, 8px 8px 150px #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  -ms-overflow-style: none;
  }
 ::-webkit-scrollbar {
   display: none;
 }
body{
    width: 100vw;
    height: 100vh;
    background: url(../images/wall.jpg);
    background-size: cover;
    background-position: center;
    z-index: -5;
    position: relative;
    font-family: 'digital-7 mono', monospace;
    color: #fff;
}
.clock{
    top: 30vh;
    left: 35vw;
    width: 600px;
    height: 180px;
    line-height: 140px;
    position: relative;
    transform:
    perspective(280px)
    rotateY(18deg)
    skewY(-6deg)
    ;
}
.time{
    font-size: 130px;
    text-shadow:var(--text-shadow1);
    animation-name: time;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
@keyframes time {
    10.8%{
        opacity: 1;
    }
    11%{
        opacity: 0;
    }
    11.5%{
        opacity: 1;
    }
}
.name{
    font-size: 60px;
    position: absolute;
    bottom:-50px;
    right: 30px;
    transform:skewY(2.5deg);
    z-index: 1;
    text-shadow:var(--text-shadow1),-6px 5px 3px rgba(0,0,0,0.6);
    animation-name: name;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}
@keyframes name {

    30.9%{opacity: 1;
    }
    31%{
        opacity: 0;
    }
    31.8%{
        opacity: 1;
    }
}
.ap{
    width: 100px;
    position: absolute;
    right: 30px;
    top: 20px;
    line-height: 50px;
    font-size: 50px;
    text-align: right;
    z-index: 1;
    text-shadow:var(--text-shadow1),-6px 5px 3px rgba(0,0,0,0.6);
    animation-name: ap;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes ap {
    10%{
        opacity: 1;
    }
    10.5%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    19%{
        opacity: 1;
    }
    19.5%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
}
.time-neon{
    text-shadow: none;
    font-size: 130px;
    color: rgba(255,255,255,0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    text-shadow: -12px 6px 1px rgba(0,0,0,0.6);
}
